/* regole generali */
.header-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
  
}



.start .col,
.portfolio .col {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ul{
    list-style-type: none;
}

/* regole header */
header, .navbar{
    background-color: #2c3e50;
    
}
header .nav-link, .navbar-brand, 
header .nav-link.active, .navbar-toggler{
    color: white;
}
.navbar-toggler{
    color: white;
}
#home{
    color: white; 
}

/*regole start bootstrap --> */
 .start{
background-color:#1abc9c ;

}
.start [class*="col"]{
    padding: 20px 0;
}
.start img{
    width: 50%;
}
.start h1{
    color: white; 
}
.start i{
    font-size: 30px;
    color: white;
}
.persona{
    color: white;
}

/* regole portfolio --> */
.portfolio{
    padding-top: 40px;
    
}
.portfolio h2{
    color: #2c3e50;
}
.portfolio .star{
    color:#2c3e50;
    font-size: 30px;
}
.portfolio [class*="col"]{
    padding: 20px 0;
}
.portfolio img{
    width: 100%;
   border-radius: 20px;
    padding:0  5px;
}
/* <!--regole sezione about --> */
.about{
    background-color: #1abc9c;
    color: white;
}
.star{
    font-size: 30px;
}

.about p{
    font-size: 25px;
    
}
.about i{
    font-size: 30px;
}
/* regole contact me --> */
.contact{
    padding: 20px;
}
.contact p{
    font-size: 30px;
    color: #2c3e50;
}
hr{
    color: #2c3e50;
}
.contact-b{
    background-color:#1abc9c ;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: none;
}
/* <!--regole footer --> */


.location{
    padding: 40px 0;
    background-color:#3a546d ;
    color: white;
}

.social{
    width: 30px;
    height: 30px;
    border: solid white 1px;
    border-radius: 50%;
    margin: 5px;
    padding: 30px 30px;
    position: relative;
    
    
    
}
.list{
    padding-left: 0;
}
.social i {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right:20px;
   
}
h4{
   
}
.copy{
    height: 100px;
    background-color:#2c3e50 ;
    color: white;
}
#copy{
  font-size: 10px;
  
 
}
input{
    border: none;
}

/* debug */
/* [class*="col"] {
   
    border: black solid 2px;
} */

/* .start-bootstrap {
    background-color: #5cc7cb;
    height: 500px;
} */


