/* regole generali */
.header-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
  
}



.start .col,
.portfolio .col {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ul{
    list-style-type: none;
}

/* regole header */
#header-row{
    background-color: #2c3e50;
}
.header-container{
   align-items: center;
}
.left-side{
    font-size: 25px;
    color: white;
}
.right-side{
    font-size: 25px;  
   
    color: white;
}
/*regole start bootstrap --> */
 .start{
background-color:#1abc9c ;

}
.start img{
    width: 50%;
}
.start h1{
    color: white; 
}
.start i{
    color: white;
}
.persona{
    color: white;
}
/* regole portfolio --> */
.portfolio{
    padding-top: 40px;
    
}
.portfolio h2{
    color: #2c3e50;
}
.portfolio .star{
    color:#2c3e50;
    font-size: 20px;
}
.portfolio [class*="col"]{
    padding: 20px 0;
}
.portfolio img{
    width: 100%;
   border-radius: 20px;
    padding:0  5px;
}
/* <!--regole sezione about --> */
.about{
    background-color: #1abc9c;
    color: white;
}

.about p{
    font-size: 25px;
    
}

/* debug */
[class*="col"] {
   
    border: black solid 2px;
}

.start-bootstrap {
    background-color: #5cc7cb;
    height: 500px;
}

.contact, .about {
 
}
{
    background-color: blue; 
}
